ion-col{
//    margin: auto;
}
.card_custom{
    width: 250px;
  //  margin: auto;
    background: #edeff6;
}

.card_custom_detalle{
ion-item{
    --background: transparent;
}
}

.header_tbl{
    background: #3db9b3;
    color: white;
    font-weight: 500;
  }
  